#page-2{
	overflow: hidden;
	background-color: white;
	background:url(../img/page2/back.jpg) no-repeat;
	background-size: 100% 100%;
}

.page2-p1 {
	margin: 15px auto;
	text-align: center;
	font-family: myfont;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 10px;
	text-indent: 10px;
	padding: 7px 0;
}

.page2-all {
	position: absolute;
	width: 1060px;
	height: 480px;
	margin: 88px auto 0 auto;
	padding: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.5);
}

.page2-text {
	z-index: 1;
	float: left;
	width: 510px;
	height: 480px;
	position: absolute;
	margin-left: 40px;
}

.page2-intro{
	position: absolute;
	margin: 0 auto;
	width: 510px;
	height: 480px;
	font-size: 30px;
	font-family: myfont;
}

.page2-intro p{
	margin-bottom: 40px;
	font-family: myfont;
	font-size: 32px;
	color: black;
}

.page2-show-photo {
	cursor: pointer;
}

.page2-photo-losePointer {
	pointer-events: none;
}

.page2-showImgs {
	opacity: 0;
	pointer-events: none;
	-webkit-transform: scale(0);
	        transform: scale(0);
	position: absolute;
	width: 510px;
	height: 480px;
	margin-left: 255px;
	transition: all 1s;
}

.page2-showImgs-show {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.page2-button1 {
	z-index: 5;
	opacity: 0;
	width: 100px;
	height: 40px;
	border: none;
	color: white;
	margin-top: 380px;
	cursor: pointer;
	font-weight: bold;
	text-indent: 10px;
	position: absolute;
	border-radius: 10px;
	letter-spacing: 10px;
	transition: all 0.5s;
	background-color: #0589E3;
}

.page2-showImgs:hover .page2-button1 {
	opacity: 1;
}

.page2-showBox-hidden {
	opacity: 0;
	z-index: 0;
	width: 510px;
	height: 480px;
	position: absolute;
	transition: all 1s;
}

.page2-showBox-show {
	opacity: 1;
	z-index: 1;
}

.page2-img-hidden {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	margin: auto;
	width: 40px;
	position: absolute;
	border-radius: 30px;
	transition: all 0.5s;
	/*box-shadow: -15px 15px 15px rgba(6, 17, 47, 0.5);*/
}

.page2-img-show {
	opacity: 1;
}

.page2-contact {
	z-index: 0;
	position: absolute;
	right: 0;
	width: 400px;
	height: 480px;
}

.page2-contact-imgs {
	float: right;
	overflow: hidden;
	height: 480px;
	width: 60px;
}

.page2-contact-img {
	z-index: 0;
	position: absolute;
}

.page2-qq {
}

.page2-wenet {
	top: 120px;
}

.page2-weibo {
	top: 240px;
}

.page2-mail {
	top: 360px;
}

.page2-contact-result {
	float: right;
	overflow: hidden;
	height: 480px;
	width: 300px;
}

.page2-contact-p1 {
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 25px;
	padding-top: 10px;
	height: 110px;
	font-size: 20px;

}

.page2-contact-result-img {
	height: 100px;
	margin-top: -20px;
}

.page2-godown {
	left: 0;
    right: 0;
    bottom: 3%;
    height: 62px;
    margin: 0 auto;
    width: 300px;
    position: absolute;
    text-align: center;
    cursor: pointer;
}

.page2-p2 {
	font-family: myfont;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 4px;
	text-indent: 4px;
}

.page2-godown-img {
	margin-top: 10px;
    width: 32px;
}