/*#page-3 {
	width: 100%;
	background-color: black;
}*/
body,html {
	height: 100%;
	min-width: 1080px;
	min-height: 680px;
}

@font-face {
    font-family: myfont;
    src: url("../img/loginEnroll/方正喵呜体.ttf");
}


#page-1 {
	background-color: #4FA1D9;;
}

#page-2 {
	background-color: black;
}


.swiper-container {
	height: 100%;
	width: 100%;
}

.layui-layer-demo {
	/*height: 200px;
	border-radius: 50px;*/
}