@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); 
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); 
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}  

@keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); 
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); 
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}  

.login_enroll-box {
	z-index: 10;
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.5s;
	-webkit-transform: scale(0);
	        transform: scale(0);
}

.login_enroll-box-show {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.windowMask {
	z-index: 19980124;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.7;
}


/*登录*/
.login-form {
	opacity: 0;
	width: 350px;
	height: 450px;
    left: 0; top: 0; 
    right: 0; bottom: 0;
    margin: auto;
	overflow: hidden;
	z-index: 19980707;
	position: absolute;
	pointer-events: none;
	border-radius: 50px;
	transition: all 0.5s;
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
	background-color: #FFFFFF;
	background-size: 100% 100%;
	/*background-image: url('../img/loginEnroll/inform.png');*/
}

.login-form-turn {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.login-form-close {
	cursor: pointer;
	float: right;
	margin: 30px;
}

.login-form-front {
	z-index: 2;
	opacity: 1;
	width: 350px;
	height: 450px;
	position: absolute;
	transition: all 0.5s;
}

.login-form-backimg {
	bottom: 0;
	z-index: 0;
	width: 100%;
	opacity: 0.4;
	/*filter: blur(3px);*/
	position: absolute;
}

.login-form-front_turn {
	z-index: 1;
	opacity: 0;
}

.login-form-li {
	height: 40px;
	width: 150px;
	font-weight: bold;
	padding: 5px 25px;
	position: relative;
	border-radius: 30px;
	border: 2px solid black;
	margin: 30px 75px 30px 75px;
}

.login-form-input {
	border: none;
	width: 150px;
	height: 40px;
	color: black;
	font-size: 17px;
	background-color: transparent;
}

input::-webkit-input-placeholder {
	color: black;
	opacity: 0.6;
	font-size: 17px;
    text-indent: 4px;
    font-weight: bold;
    letter-spacing: 3px;
}

.login-form-circle {
	opacity: 0;
	width: 24px;
	height: 24px;
	display: none;
	position: absolute;
	border-radius: 100%;
	border: 2px solid black;
	margin: 6px 0 0 61px;
	border-top-color: transparent;
	background-color: transparent;
}

.login-form-circling {
	opacity: 1;
	display: block;
	-webkit-animation: circle 0.5s linear infinite;
	        animation: circle 0.5s linear infinite;
}

.login-form-button {
	color: black;
	border: none;
	width: 150px;
	height: 40px;
	opacity: 0.4;
	cursor: pointer;
	font-size: 20px;
	text-indent: 35px;
	font-family: myfont;
	font-weight: bold;
	transition: all 0.4s;
	pointer-events: none;
	letter-spacing: 40px;
	background-color: transparent;
}

.login-form-button_chould {
	opacity: 1;
	pointer-events: auto;
}

.login-form-button_logining {
	color: white;
	pointer-events: none;
}

.login-form-back {
	z-index: 1;
	opacity: 0;
	width: 350px;
	height: 450px;
	position: absolute;
	transition: all 0.5s;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg); 
}

.login-form-back_turn {
	z-index: 2;
	opacity: 1;
}

.login-form-p {
	color: black;
	font-size: 20px;
}

.login-form-p1 {
	margin: 60px 0 0 40px;
}

.login-form-p2 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 270px;
	/*height: 25px;*/
	line-height: 45px;
	letter-spacing: 2px;
	margin: 150px auto 0 auto;
	padding: 20px 0;
	position: absolute;
}

.login-form-out {
	opacity: 0;
	right: 0;
	border: none;
	color: black;
	float: right;
	cursor: pointer;
	padding: 10px 0; 
	font-size: 20px;
	text-indent: 2px;
	position: absolute;
	border-radius: 20px;
	font-family: myfont;
	letter-spacing: 2px;
	pointer-events: none;
	margin: 300px 40px 0 0;
	background-color: transparent;
}

.login-form-out_show {
	opacity: 1;
	pointer-events: auto;
}

.login-form-exact_show {
	opacity: 1;
	pointer-events: auto;
}

/*报名*/
.enroll-form {
	opacity: 0;
	width: 500px;
	height: 500px;
    left: 0; top: 0; 
    right: 0; bottom: 0;
    margin: auto;
	overflow: hidden;
	z-index: 19980707;
	position: absolute;
	pointer-events: none;
	border-radius: 50px;
	transition: all 0.5s;
	background-color: #CE5469;
}

.enroll-form-li {
	opacity: 0.8;
	width: 300px;
	margin: auto;
	margin-top: 25px;
	position: relative;
	background-color: #C91C39;
	border-radius: 10px;
}

.enroll-form-mark {
	color: white;
	width: 70px;
	float: left;
	font-size: 16px;
	padding: 7px 0;
	text-align: center;
	position: relative;
	line-height: 16px; 
}

.enroll-form-input {
	border: none;
	height: 20px;
	padding: 5px 0;
	color: white;
	background-color: transparent;
}

.enroll-form-textarea {
	letter-spacing: 2px;
	line-height: 20px;
	text-indent: 32px;
	margin-top: 30px;
	margin-left: -50px;
	border: none;
	padding: 5px 0;
	color: white;
	background-color: transparent;
}

.enroll-form-submit {
	width: 300px;
	height: 40px;
	margin: auto;
	margin-top: 30px;
	position: relative;
}

.enroll-form-submit-button {
	border: none;
	width:130px;
	height: 40px;
	color: white;
	float: left;
	cursor: pointer;
	text-indent: 0px;
	transition: all 0.6s;
	letter-spacing: 20px;
	text-indent: 20px;
	border-radius: 10px;
	background-color: #C91C39;
}

#enroll-submit {
	opacity: 0.4;
	pointer-events: none;
}

.enroll-form-submit-button_could {
	opacity: 1 !important;
	pointer-events: auto !important;
}

.enroll-form-button_enrolling {
	background-color: white !important;
	pointer-events: none !important;
}

.enroll-form-circle {
	z-index: 2;
	opacity: 0;
	width: 20px;
	height: 20px;
	display: none;
	position: absolute;
	border-radius: 100%;
	border: 2px solid black;
	margin: 10px 0 0 54px;
	border-top-color: transparent;
	background-color: transparent;
}

.enroll-form-circling {
	opacity: 1;
	display: block;
	-webkit-animation: circle 0.5s linear infinite;
	        animation: circle 0.5s linear infinite;
}


/*查看信息*/
.inform-form {
	opacity: 0;
	pointer-events: none;
	z-index: 19980707;
	width: 500px;
	height: 500px;
	position: absolute;
    left: 0; top: 0; 
    right: 0; bottom: 0;
    margin: auto;
	overflow: hidden;
	border-radius: 20px;
	transition: all 0.5s;
	background-color: #CE5469;
}

.inform-form-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 500px;
	z-index: 0;
}

.inform-body {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	padding: 30px 80px;
}

.inform-body-mark {
	width: 70px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	background-color: #C91C39;
	color: white;
	letter-spacing: 10px;
	text-indent: 10px;
}

.inform-body-write {
	width: 240px;
	height: 110px;
	padding: 10px 15px;
	background-color: white;
	float: left;
	font-size: 18px;
	line-height: 26px;
}

.inform-body-p {
	text-align: left;
	padding: 5px 0;
}

.inform-bottom {
	position: absolute;
	z-index: 2;
	padding: 0px 80px;
	margin-top: 200px;
}

.inform-bottom-write {
	padding: 5px 0;
	cursor: pointer;
	width: 270px;
	float: left;
	font-size: 18px;
	line-height: 26px;
	text-indent: 15px;
	letter-spacing: 4px;
	color: black;
	background-color: white;
}

.inform-bottom-back {
	color: white;
	float: right;
	border: none;
	width: 100px;
	height: 30px;
	cursor: pointer;
	margin-top: 40px;
	text-indent: 4px;
	letter-spacing: 4px;
	border-radius: 10px;
	background-color: #C91C39;
}


/*显示信息框*/
.form-show {
	opacity: 1;
	pointer-events: auto;
}